page-home {
    .card-header{
        text-align:center;
    }
    .button--card{
        margin:0;
        padding:0;
        width: 50%;
        float: left;
        .card{
            height:150px;
        }
        .label{
            margin:0;
        }
        ion-label{
            white-space:normal
        }
        .item-inner{
            border-bottom:none !important;
        }
    }
}
